/* z-index order */

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif

 
}

/* Basis for colour palette comes from 1bit Monitor Glow Palette by Polyducks */
/* https://lospec.com/palette-list/1bit-monitor-glow */
/* you're welcome to change the colours if you want or any of the other general page style */
:root{
  --col-01:rgb(0, 165, 0);
  --col-02:orange;
  --col-03:silver;
  --col-04:rgb(0, 0, 0);
  
  --border: 2px solid var(--col-01);
}

body{
  display: flex;
  flex-direction: column;
  background-color:  var(--col-01);
  color: var(--col-04);
  padding: 2vw;
}

/*
  i've set up a basic flexbox for each recipe container - you might want to change some of the 
  flex properties here on the container or on the individual flex items depending on how you want to style them
*/
.RecipeBox{
  display: flex;
  flex-direction: column;
  border: var(--border);
  align-items: center;
  background-color: var(--col-02);
  border-radius: 50px;
  text-align: center;

}
  

.FilterSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  

}

.FilterBox{
  background-color: var(--col-03);
  border-radius: 10px;
  padding: 10px;
  align-items: center;

}
.FilterBox:hover {
  background-color: var(--col-02);
}

.FilterButton{
  border-radius: 10px;
  border: var(--border);
  align-items: center;

}
.FilterButton:hover {
  background-color: var(--col-01);
}

.SelectedFilter{
  color: var(--col-01)
  
}

.RecipeLink{

}

.RecipeName{
font-size: 20px;
}

.Author{
  font-size: 16px;
}

.RecipeImageContainer{

}

.RecipeImg{
border-radius: 50px;
}

.Attribution{

}

.Publisher{

}

.Cuisine{

}

.TimeToCook{

}

.SkillLevel{

}

.Course{

}

.Servings{

}

.Dietary{

}

.DatePublished{

}

.DateUpdated{

}

.SpecialEquipment{

}

a:link {
  color: var(--col-01);
  background-color: transparent;
}

a:visited {
  color:var(--col-04)

}
h1 {
  color:var(--col-05);
  
  padding: 10px;
  font-size: 60px;
  text-align: center;


}
h2 {
padding-top: 20px;
}
h3 {
align-items: left;
font-size: medium;

}
div {

  padding: 10px;
}
p {
  padding: 10px;
}
