/* The root file including the colour palette and border */
:root{
    --col-01:rgb(255, 255, 255);
    --col-02:rgb(229, 229, 229);
    --col-03:black;
    --border:1px solid var(--col-03);
}



body {
    background-color: var(--col-01);
    color: var(--col-03);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}

p{
    text-align: left;
    padding: 10px;
}

h1{
    text-align: center;
    color: var(--col-03);
    
}



/* Here the flex container for the product section */
.flex-container{
    
    border: var(--border);
    background-color: var(--col-02);
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: 90%;
    margin-left: 5%;

}

.flex-container div{
background-color: var(--col-01);
border: var(--border);
width: 40%;
margin: 4%;
padding-bottom: 10px;}


h1{
    font-size: 50px;

}

header{
background-color: var(--col-02);
text-align: center;
padding: 2%;
}
    
.header-image{
    height: 140px;
    width: auto;
}




img {
width: auto;
height: 200px;
padding:10px;
background-color: var(--col-02);
border: var(--border);
}



.product1{
    
    text-align: center;
    
    
}
.button1{
    cursor:not-allowed;
    
}
/* the first disappearing animation*/
.button1:hover{
    display: none;
}

.product2{
  
    text-align: center;
}

.button2{
    cursor:col-resize
}
/* the second aniamtion, scaling the button up on click*/
.button2:active{
    transform: scale(1000%);
}

.product3{
    
    text-align: center;
}
.button3{
    cursor:crosshair;
}

/* animation 3, running away from the user's cursor */
.button3:hover{
    transform: 10%;
    transform: translateX(-100%);
}
.button3:active{
    transform: translate(100%);
}

.product4{
    
    text-align: center;
}
/* animation4 , dropping the button away from the user*/
.button4:hover{
    transition: 2s;
    transform: translatey(1000%);
    cursor:grab;
}

.product5{
    
    text-align: center;
}
.button5 {
    cursor:grab;
}
/* animation 5, faking a load time */

.button5:hover{
background-color: lightblue;

}
.button5:active{
    background-color: blue;
    color: var(--col-01);
    cursor: progress;
}
/* animation 6, making the product disappear*/
.product6:hover{
    transition: 0.4s;
    opacity: 0%;
    
}
.product6{
    text-align: center;
}

.button1, .button2, .button3, .button4, .button5, .butoon6{
    background-color: var(--col-02);
    border: var(--border);
}


button{
    scale: 110%;
    border-radius: 30px;
}






